<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @artist.genre.name %>
</p>
<p>
<b>Songs by this Artist:</b>
<ul>
    <% @artist.songs.each do |song| %>
      <li><%= link_to song.name, song %></li>
    <% end %>
</ul>
</p>
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
